body {
	margin: 0;
}

#img {

    float: left;
    margin-right: 45px;
    height: 64px;
}

h1 {
   font-family:'Arial', Times, serif;
   font-size: 32px;
   line-height: 2;
   color:#489bd9; 
}

#block {
	max-width: 960px;
    margin: auto; 
}

#menucontent{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width:960px;
    margin: auto; 
}

header {
    background:url(https://asterial.ru/uploads/header.jpg) ; 
    width: 100%;
}

footer {
    background:url(https://asterial.ru/uploads/header.jpg) ; 
    width: 100%;
    font-size: 15px;
    color:#489bd9; 
}

.one {
    display:flex; 
    order:1;
	text-align: center;
	margin-top: 20px;
}
.one ul {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
	padding: 10px;
	margin: 10px;
    list-style: none;
}

.one ul li {
    display: inline-block;
    padding: 5px 40px;
}

.one ul li a{
	text-decoration: none;
}

.z1 {
    display:flex;
    flex-direction: column;
    order:2;
    background-color: #E0FFFF;
}

.z2 {
    display:flex;
    flex-direction: column;
    order:4;
    background-color: #E0FFFF;
    align-content: center;
}

.z3 {
    display:flex;
    flex-direction: column;
    order:3;
    text-align: center;
}

.z4 {
    background-color: #E0FFFF
}

h2 {
text-align: center;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

border-collapse: separate;
border-spacing: 5px;
background:  #489bd9;
color: #656665;
border: 16px solid #4DB2FF;
border-radius: 20px;
}

th {
font-size: 18px;
padding: 10px;
}

td {
padding: 10px;
}

tr:nth-child(2n) {background: #e8edff;}
tr:nth-child(2n+1) {background: url(https://asterial.ru/uploads/header.jpg);}

footer p {
	padding: 10px;
}

@media (min-width: 1000px) {

.one {
    justify-content:space-around;
}

.one ul{
    flex-direction: row;
    align-items:flex-start;
}
.z2 {
    order: 3;
}
.z3{
    order: 4;
}
}